name: Links

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # Run daily at midnight to catch rotting links
    - cron: '0 0 * * *'

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Link Checker
        uses: lycheeverse/lychee-action@v1.9.0
        with:
          # Check all markdown files, but ignore localhost
          args: --verbose --no-progress --exclude 'http://localhost' --exclude 'http://127.0.0.1' './docs/src/**/*.md' './README.md' './CONTRIBUTING.md'
          # Fail if broken links found
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
